*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background:  #374054;
    padding: 1em;
    width: 100vw;
    height: 100vh;
}
.logo{
    background: linear-gradient(to right,white ,rgb(52, 176, 198),rgb(205, 52, 149));
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    display: flex;
    gap: 10px;
    height: 50px;
}
.name{
    display: inline-block;
    background: linear-gradient(to right,white ,rgb(52, 176, 198),rgb(205, 52, 149));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main{
    width: 100%;
    min-height:90vh;
    background: #374054;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}
.style1{
  max-width: 500px;
  width: 90%;
  height: 500px;
  background: #374054;
  display: flex;
  align-items: start;
  justify-content: center;
}
.style2{
    max-width: 500px;
    width: 90%;
    height: 500px;
    background: #b6afaf;
  }
.image{
    width: 300px;
    height: 395px;
    background-image: url("transparent.png");
    display: flex;
    position: relative;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.8),-2px -2px 10px rgba(0,0,0,0.8);
}
.image1{
    animation: remove 15s linear infinite;
    overflow: hidden;
}
.image2{
    position:absolute;
    overflow: hidden;

}
@keyframes remove{
    0%{
        width: 100%;
    }
    50%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}